<form name="taskListForm"
      novalidate
      ng-controller="TaskListCtrl as vm">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn-primary" ng-click="vm.add()"
                ng-if="vm.authorized">
            Add Task
        </button>
    </span>
    <br />
    <br />
    <div class="panel panel-primary">


        <div class="panel-body">
            <table class="table ">

                <thead style="background-color:lightblue">
                    <tr>
                        <td>Title</td>
                        <td>Details</td>
                        <td>Due Date</td>
                        <td>Completed Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in vm.tasks">
                        <td><a class="link"
                               ng-if="vm.authorized"
                               ng-href="#edit/{{ task.taskId}}">{{ task.title}}</a>
                            <span ng-if="!vm.authorized">{{ task.title}}</span>
                        </td>
                        <td>{{ task.details }}</td>
                        <td>{{ task.dueDate | date }}</td>
                        <td>{{ task.completedDate | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>